/* SIDE BAR STYLESHEET */
#css-zen-garden .sidebar {
	top: 75px;
	left: 516px;
	width: 205px;
	position: absolute;
}

#css-zen-garden .sidebar a {
	text-decoration: none;
}

#css-zen-garden .sidebar h3 {
	margin: 0px;
	height: 79px;
	width: 168px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	margin: 0px 0px -17px 0px;
}

#css-zen-garden .sidebar ul li a {
	font-size: 10pt;
}

#css-zen-garden .sidebar a:hover {
	color: #deb23c;
	text-decoration: underline;
}

#css-zen-garden .sidebar nav ul {
	padding: 0px 0px 0px 20px;
}

#css-zen-garden .sidebar ul li {
	font-size: 10pt;
	font-style: italic;
	padding: 0px 0px 12px 14px;
	background: transparent url("/images/sidebar-icon.gif") no-repeat left 4px;
}

#css-zen-garden .sidebar ul li a:nth-of-type(1) {
	display: block;
	font-weight: bold;
	font-style: normal;
	color: #E8D6A3;
}

#css-zen-garden #design-archives ul li a:nth-of-type(1) {
	font-weight: normal;
}

#css-zen-garden .sidebar ul li a:nth-of-type(2),
#css-zen-garden .sidebar ul li {
	color: #E8D6A3;
}

#css-zen-garden .sidebar ul,
#css-zen-garden .sidebar h3 {
	padding-left: 0px;
	color: #c5a54c;
}

/* TITLE IMAGES */
#css-zen-garden .sidebar div:nth-of-type(1)>h3 {
	background: transparent url("/images/txt_designs.gif") no-repeat left top;
}

#css-zen-garden .sidebar div:nth-of-type(2)>h3 {
	background: transparent url("/images/txt_archives.gif") no-repeat left top;
}

#css-zen-garden .sidebar div:nth-of-type(3)>h3 {
	background: transparent url("/images/txt_resources.gif") no-repeat left top;
}

/* DESIGN DIV */
#css-zen-garden #design-archives li {
	padding: 0px 0px 0px 14px;
}

/* ARCHIVE DIV */
#css-zen-garden .preamble,
#css-zen-garden #zen-supporting>div {
	padding: 25px 0px 37px 0px;
	background: transparent url("/images/breakrule.gif") no-repeat center bottom;
}

/* RESOURCES DIV */

#css-zen-garden #zen-resources {
	top: 950px;
	left: -37px;
	width: 271px;
	height: 539px;
	position: absolute;
	padding: 117px 0px 0px 38px;
	background: transparent url("/images/background_lresources.jpg") no-repeat left top;
}

#css-zen-garden #zen-resources abbr {
	font-size: 9pt;
}

#css-zen-garden #zen-resources li {
	margin-left: 20px;
	padding: 0px 0px 0px 15px;
	background: transparent url("/images/bullet_resources.gif") no-repeat left 4px;
}

#zen-summary p:last-of-type {
	left: 208px;
	top: 1125px;
	z-index: 100;
	width: 162px;
	font-size: 9pt;
	position: absolute;
	color: #E8D6A3;
	padding: 0px 0px 0px 12px;
	background: transparent url("/images/bullet_download.gif") no-repeat 0px 4px;
}

#zen-summary p:last-of-type a {
	font-size: 9pt;
	color: #DEC35A;
}