/* ------------ IMPORTS ------------ */
@import url("/aside.css");
@import url("/content.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

/* ------------ BROWSER RESETS ------------ */
* {
	font-size: 15pt;
	list-style-type: none;
	box-sizing: border-box;
	background-repeat: no-repeat;
	font-family: georiga;
}

html,
body {
	margin: 0;
	padding: 0;
	line-height: 13pt;
	min-height: 100vh;
	min-width: 100vw;
	background-color: black;
}

ul,
p,
a {
	margin: 0;
	color: #AB9F82;
}

/* ------------ BROWSER STYLES ------------ */

/* WRAPPER */
#css-zen-garden .page-wrapper {
	width: 750px;
	position: relative;
	margin: 0px auto;
	background-size: contain;
	background-position: top;
	background-image: url("/images/background-image.jpg");
}

#css-zen-garden #zen-supporting>div,
#css-zen-garden .page-wrapper>section {
	margin-right: 280px;
}

#css-zen-garden #zen-summary p:first-of-type {
	display: none;
}